body {
    margin: 0px;
    background-color: beige;
    display: flex;
    flex-direction: column;
}

#hint-text {
    font-weight: 100;
}

#site-title{
    position: fixed;
    width: 50%;
    margin: auto auto;
    text-align: center;
    left: 25vw;

}

#top-nav {
    display: flex;
    align-items: center;
    background-color: aqua;
    margin: 0px;
    padding:0 1em 0 1em;
    height: 65px;
    position: sticky;
    top: 0;
    
}

#top-nav a:first-of-type{
    margin-right: auto;
    
}

#top-nav h1 {
    margin-right: auto;
}

.sidenav {
    margin: 0;
    padding: 0;
    width: 75px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 65px;
    background-color: lightgrey;
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidenav a {
    margin:0 auto 0 auto ;
    text-align: center;
    text-overflow: ellipsis;
    background-color: darkgray;
    border-radius: 25%;
    width: fit-content;
    padding: 3px;
    
}



main {
    
    margin-left: 90px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    width: 50%;
}

textarea.inputs {
    height: 70px;
}

p {
    white-space: pre-line;
}

.recipe-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
    padding: 0.5%;
    height: 100px;
    width: 100px;
}
.recipe-card img {
    width: 90px ;
}



.ingredient-block {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    flex-wrap: wrap;
}

.ingredient-block a {
    padding: 10px;
}

#ingredient_field {
    display: flex;
    margin: 0em;
    width: 50%;
    padding: 0mm;
    justify-content: center;
    height: fit-content;
}

#ingredient_field div {
    
    display: flex;
    flex-direction: column;
    
}

#ingredients{
    width: 75%;
    align-self: flex-start;
    margin-top: auto;
    height: 10px;
}

#ingredient_amounts {
    width: 50%;
    align-self: flex-end;
    justify-self: end;
    margin-top: auto;
    height: 10px;
    
}
#in_container{
    width: 75%;
}
#in_container label{
    padding-left: 3px;
    border-left: solid black 1px;
}

#am_container {
    width: 25%;
}
#am_container label{
    padding-right: 3px;
    text-align: right;
    border-right: solid black 1px;

}