body {
    margin: 0px;
    background-color: rgb(16, 1, 20);
    display: flex;
    flex-direction: column;
    color: white;
}

#hint-text {
    font-weight: 100;
}

#site-title{
    position: absolute;
    width: 50%;
    margin: auto auto;
    text-align: center;
    left: 25vw;

}

#top-nav {
    display: flex;
    align-items: center;
    background-color: rgb(32, 29, 29);
    margin: 0px;
    padding:0 1em 0 1em;
    height: 3rem;
    position: sticky;
    top: 0;
    color: whitesmoke;
    
}

#top-nav a {
    text-decoration: none;
    color: black;
    background-color: rgb(100, 5, 100);
    padding: 3px;
    border-radius: 25%;
    margin: 3px;
}

#top-nav a:first-of-type{
    margin-right: auto;
    
}

#top-nav h1 {
    margin-right: auto;
}

.sidenav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3rem;
    position: sticky;
    left: 0;
    top: 3rem;
    background-color: rgb(41, 17, 56);
    padding: 0.2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidenav a {
    margin:0 auto 0 auto ;
    text-align: center;
    text-overflow: ellipsis;
    background-color: rgb(168, 168, 168);
    border-radius: 25%;
    width: fit-content;
    padding: 3px;
    text-decoration: none;
    color: black;
    
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    width: 50%;
}

textarea.inputs {
    height: 70px;
}

p {
    white-space: pre-line;
}

.recipe-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(179, 179, 179);
    align-items: center;
    padding: 0.5%;
    height: 100px;
    width: 100px;

}
.recipe-card img {
    width: 90px ;
}
.recipe-card a {
    text-decoration: none;
    color:black;
}



.ingredient-block {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    flex-wrap: wrap;
}

.ingredient-block a {
    padding: 10px;
    text-decoration: none;
    background-color: rgb(168, 168, 168);
    border-radius: 25%;
    width: fit-content;
    padding: 3px;
    color: black;
}

#ingredient_field {
    display: flex;
    margin: 0em;
    width: 50%;
    padding: 0mm;
    justify-content: center;
    height: fit-content;
}

#ingredient_field div {
    
    display: flex;
    flex-direction: column;
    
}

#ingredients{
    width: 75%;
    align-self: flex-start;
    margin-top: auto;
    height: 10px;
}

#ingredient_amounts {
    width: 50%;
    align-self: flex-end;
    justify-self: end;
    margin-top: auto;
    height: 10px;
    
}
#in_container{
    width: 75%;
}
#in_container label{
    padding-left: 3px;
    border-left: solid black 1px;
}

#am_container {
    width: 25%;
}
#am_container label{
    padding-right: 3px;
    text-align: right;
    border-right: solid black 1px;

}

.mdblock {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.mdtitle {
    color:red;
}

.mdimages img {
    padding: 10px;
    background-color: whitesmoke;
    border-style: unset;
    max-width: 300px;
}

.confet {
    position: absolute;
    width: 100%;
    height: 100%;
}

#SignupLabel {
    margin-bottom: 0.25rem;
}
#SignupDescription {
    color: white;
    margin: 0.5rem;
}

#search_form {
    margin-top: 1rem;
}
.recipe-display {
    margin: 5rem 5rem 5rem 5rem;
    background-color: wheat;
    color: black;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: blanchedalmond 0.25rem inset ;
}