{% extends 'base.html' %}
{% block content %}
<form action="{{url_for('modify.create_recipe')}}" method="POST">
    {{recipe_form.csrf_token}}
    <h1>Create Recipe</h1>
    {{recipe_form.title.label}}
    {{recipe_form.title(class_='inputs')}}

    {{recipe_form.image_url.label}}
    {{recipe_form.image_url(class_='inputs')}}

    {{recipe_form.description.label}}
    {{recipe_form.description(class_='inputs')}}

    {{recipe_form.servings.label}}
    {{recipe_form.servings(class_='inputs')}}
    <span id="hint-text">Enter Ingredients.Seperate each ingredient or amount with a comma </span>

    <fieldset id='ingredient_field'>
        <div id='am_container'>
            {{recipe_form.ingredient_amounts.label}}
            {{recipe_form.ingredient_amounts}}
        </div>
        <div id='in_container'>
            {{recipe_form.ingredients.label}}        
            {{recipe_form.ingredients(class_='ingredient_inputs')}}
        </div>
        
    
    </fieldset>
        {{recipe_form.instructions.label}}
        {{recipe_form.instructions(class_='inputs')}}


    {{recipe_form.submit}}

</form>


<script src="../../static/main.js"></script>
{% endblock %}

