{% extends 'base.html' %}
{% block content %}
<h2>Top Recipes</h2>
<div class="recipe-block">
    {% for recipe in recipes %}
    <div class="recipe-card">
        <img src="https://via.placeholder.com/150" alt="">
        <a href="{{url_for('main.view_recipe',recipe_id=recipe.id)}}">{{recipe.title}}</a>
    </div>
    {% endfor %}
</div>
<h2>All Ingredients</h2>
<div class="ingredient-block">
    {% for ingredient in ingredients %}
        <a href="{{url_for('main.view_ingredient',ingredient_id=ingredient.id)}}">{{ingredient}}</a>
    {% endfor %}
</div>

{% endblock %}