{% extends 'base.html' %}
{% block content %}
<img src="https://www.dropbox.com/s/1rzh6h0e5b166pj/5Q10.gif?raw=1" alt="" class="confet">
<div class="mdblock">
    <h1 class="mdtitle">Happy Mothers Day!!!</h1>
    <div class="mdimages">
        <img src="https://www.dropbox.com/s/k4edtjrc0iq73ez/Tessaultrasound.jpg?raw=1" alt="">
        <img src="https://www.dropbox.com/s/dpup0o3kqdlr7wb/WilliamandChris.jpg?raw=1" alt="">    
    </div>
    <p style="color:rgb(16, 1, 20);">Dont worry you have been a mother for quite some time now. I miss you &lt3 </p>
</div>

{% endblock %}