{% extends 'base.html' %}

{% block content %}
<div class="recipe-display">
<h1>{{recipe.title}}</h1>


{% if recipe.image %}
<img src="{{recipe.image}}" alt="Photo of {{recipe.title}}">
{% endif %}


<p>{{recipe.description}}</p>

<h4>Servings: {{recipe.servings}}</h4>

<h2>Ingredients: </h2>
<ul>
{% for item in recipe.ingredients %}
    <li>{{item.amount}} {{item.ingredient.name}}</li>
{% endfor %}
</ul>

<h2>Instructions:</h2>
<p>
    {{recipe.instructions}}
</p>
<div class="modifiers">
    {% if current_user.is_authenticated %}
    <a href="{{url_for('modify.remove_recipe',recipe_id=recipe.id)}}">Delete Recipe</a>
    <a href="#">Edit Recipe</a>
    {% endif %}
    {% if current_user.is_authenticated and recipe not in current_user.favorite_recipes%}
    <a href="{{url_for('modify.add_favorite', recipe_id=recipe.id)}}">Favorite</a>
    {% endif %}
    {% if current_user.is_authenticated and recipe in current_user.favorite_recipes%}
    <a href="{{url_for('modify.remove_favorite', recipe_id=recipe.id)}}">Unfavorite</a>
    {% endif %}
    
</div>

</div>
{% endblock %}